<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Nenglish7/Optimize">
    <description>The php code sniffer.</description>
    <rule ref="PSR2" />
    <file>./src</file>
    <file>./tests</file>
</ruleset>
